//
// UI COLORS
//

// NOTE: If this file changes remember to update also
// this file 'colors.const.ts'

// primary
$color-primary-dark: #933969;
$color-primary: #bf538d;
$color-primary-light: #e3bcd6;

// secondary
$color-secondary-dark: #689f38;
$color-secondary: #9ccc65;
$color-secondary-light: #dcedc8;

// accent
$color-accent-dark: #ff8e01;
$color-accent: #ffca28;
$color-accent-light: #ffecb3;

// gray
$color-gray-dark: #5a5c65;
$color-gray: #868993;
$color-gray-light: #c9c9c9;

// background
$color-background-dark: #dbdbdb;
$color-background: #f4f4f4;
$color-background-light: #ffffff;

// alert
$color-success: #37a037;
$color-success-light: #d7f4d7;
$color-info: #319cdd;
$color-info-light: #cceaf2;
$color-danger: #c62c2c;
$color-danger-light: #eac7c7;
