//
// MIXINS
// 

@mixin resetAnchorDefault {
  color: $color-gray-dark;
  -webkit-tap-highlight-color: transparent;
  text-shadow: none;
  border: none;
  transition: none;
  text-decoration: none;

  &.hover,
  &:hover,
  &:focus,
  &:active,
  &.active {
    text-shadow: none;
    color: inherit;
    background-color: inherit;
    border-color: inherit;
  }
}
