//
// VARIABLES
//

@import './colors';

// Typography
$font-primary: 400 16px 'Zilla Slab';
$font-secondary: 400 16px 'Open Sans';
$base-font-size: 1rem;
$font-weight-bold: bold;

// Breakpoints
$breakpoint-mobile: 600px;
$breakpoint-tablet: 1024px;
$breakpoint-laptop: 1280px;
$breakpoint-screen: 1440px;
$breakpoint-big-screen: 1920px;

// Viewport
$content-max-width: $breakpoint-tablet;

// Topbar
$top-navbar-height: 3.25rem;

// Scrollbar
$scrollbar-width: 0.5rem;

// Sidebar
$sidebar-width: 14rem;

// Others
$corner-small: 1px;
$border-small: 2px;

// Z indexes
$z-index-progress-bar: 1001;
$z-index-top-menu: 1000;
